@model TrabalhandoComVisualStudios.Models.Produto
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device=width"/>
    <title>Trabalhando com Visual Studio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
    <h3 class="text-center">Criar Produto</h3>
    <form asp-action="AddProduto" method="post">
        <div class="form-group">
            <label asp-for="Nome">Nome</label>
            <input asp-for="Nome" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Preco">Preço</label>
            <input asp-for="Preco" class="form-control" />
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Adicionar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</body>
</html>

